* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

nav {
    background-color: rgb(31, 31, 192);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(25, 25, 164);
    margin: 1rem;
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    padding: 1px;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    margin: 1rem;
    left: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid#000;
    text-align: center;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 70px;
    color: white
}

.indent {
    padding-left: 2rem;
}